.found_list {
    .header {
        position: relative;
        background-color: #999;
      navbar {
        
      }
  
      .city_input {
          position: absolute;
          top: 5px;
          left: 45px;
          height: 35px;
          width: calc(100vw - 45px);
        cityinput {
  
        }
      }
    }
  }