.home_index {
  position: relative;
  .cityinput {
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding-left: 20px;
  }
  .mode {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 15px;
    height: 90px;
    background-color: #fff;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img {
        width: 48px;
        height: 48px;
      }

      span {
        font-size: 12px;
      }
    }
  }
  .groups {
    // padding: 10px;
    .title {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 10px 20px;
      h3 {
      }

      span {
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10px;
      .content_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px 15px;
        background-color: #fff;
        width: 48.5%;
        margin-bottom: 10px;
        .content_item_left {
          display: flex;
          flex-direction: column;
          strong {
            font-size: 14px;
          }
          p {
            padding: 3px 0;
          }
          span {
            font-size: 12px;
          }
        }

        .content_item_right {
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }

  .news {
    padding: 10px;
    background-color: #fff;
    h3 {
      padding: 10px;
    }
  
    .news_item {
      display: flex;
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: 1px solid #ccc;
      .news_item_left {
        img {
          margin-right: 10px;
          width: 120px;
          height: 90px;
        }
      }
  
      .news_item_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .news_item_right_top {
          font-weight: 600;
        }
  
        .news_item_right_bottom {
          display: flex;
          justify-content: space-between;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
