.map {
  .header_navBar {
    navbar {
    }
  }
  .content {
    .container {
      width: 100%;
      height: calc(100vh - 45px);
      .mapText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #0eb56a;
        border: 2px solid #fff;
        transform: translate(-50%, -50%);
        span {
          color: #fff;
        }
      }
      .fang {
        padding: 5px;
        background-color: #0eb56a;
        color: #fff;
        span {
          margin: 0 5px;
        }
      }
    }
  }

  .houses_list {
    width: 100vw;
    height: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 500ms;
    .houses_list_title {
      padding: 0 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eee;
      span:nth-child(1) {
        color: #333;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .houses_list_content {
      height: calc(50vh - 40px);
      overflow: auto;
    }
  }
}
