body {
    height: 100vh;
    overflow: hidden;
}
.cityList {
  position: relative;
    height: calc(100vh - 45px);
    overflow: auto;
    .types {
      .text {
        padding: 10px;
        font-size: 12px;
      }
  
      .city {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        color: black;
      }
    }
    .zimu {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 20px;
      right: 5px;
      height: 90%;
      .zimu_item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font-size: 13px;
      }
      .active {
        color: #fff;
        background-color: #21b97a;
      }
    }

}

