* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-size: 14px;
    color: #666;
}

a {
    text-decoration: none;
    color: inherit;
}